<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" th:replace="~{base :: parent(~{::#content},~{::title})}">
<head>
   <title>Register Page</title>
</head>
<body>
    <div id="content">
        <form th:action="@{/scm/do-register}" 
        method="post" th:object="${userForm}">
            <div class="max-w-sm mx-auto">
                <div href="#" class="block p-4 px-6 bg-white border border-gray-500 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-500 dark:hover:bg-gray-500">

                    <h5 class="mb-2 text-2xl text-center font-bold tracking-tight text-gray-900 dark:text-white">Signup</h5>
                    <p class="font-normal text-gray-700 dark:text-gray-400"></p>
            
                    <div class="mb-5 mt-2">
                        <label for="Name"  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your Name</label>
                        <input th:field="*{userName}" type="text" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name" required />
                    </div>

                    <div class="mb-5 mt-2">
                        <label for="email"  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your Email</label>
                        <input th:field="*{email}" type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="email" required />
                    </div>

                    <div class="mb-5 mt-2">
                        <label for="password"  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">New Password</label>
                        <input th:field="*{password}" type="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="password" required />
                    </div>

                    <div class="mb-5 mt-2">
                        <label for="contact"  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact</label>
                        <input th:field="*{phoneNumber}" type="text" id="contact" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="contact" required />
                    </div>

                    <div class="mb-5 mt-2">
                        <label for="about"  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">About</label>
                        <textarea th:field="*{about}" id="about" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write Somthing about you......." required ></textarea>
                    </div>

                    <div class="flex justify-center gap-2">
                        <button type="submit" class=" text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Sign up</button>
                    
                        <button type="reset" class=" text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Reset</button>
                    </div>
                    
                </div>
                
            </div>    
        
        </form> 
    
    </div>
    
</body>
</html>